*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    height: 100vh;
    width: 100%;
    background-image: url('images/background_5.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    overflow: hidden;
}
.side-bar{
    height: 100%;
    width: 250px;
    border-left: 2px solid white;
    border-right: 2px solid black;
    backdrop-filter: blur(10px);
    padding: 12px 0;
    transition: all 0.3s linear;
    overflow-y: scroll;
}

/* ----------------------------scroll bar */
::-webkit-scrollbar{
    display: none;
}
.small-sidebar-btn{
    height: 40px;
    width: 40px;
    background-color: #066da1;
    color: white;
    border-radius: 50%;
    border: none;
    position: absolute;
    left: 230px;
    top: 40px;
    z-index: 999;
    cursor: pointer;
    transition: all 0.3s linear;
}
.profile-sec{
    height: 100px;
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.profile-sec span{
    margin-left: 5px;
    font-size: 20px;
    cursor: pointer;
}
.profile-sec span:hover{
    text-decoration: underline;
}
.profile-pic{
    height: 40px;
    width: 40px;
    background-image: url('images/profile.png');
    background-size: cover;
    border: 3px solid purple;
    border-radius: 50%;
    cursor: pointer;
}
.side-bar li{
    width: 100%;
    padding: 14px 24px;
    font-size: 16px;
    list-style-type: none;
    font-weight: 600;
    position: relative;
    cursor: pointer;
}
.side-bar li .icon-s{
    width: 25px;
    font-size: 18px;
}
.menu{
    margin-left: 15px;
}
.side-bar li .fa-chevron-right{
    height: 100%;
    position: absolute;
    right: 20px;
    top: 33%;
}
.side-bar li:hover{
    background-color: white;
}
.option-1,
.option-2,
.option-3{
    display: flex;
    align-items: center;
}
.hid1, .hid2, .hid3{
    background-color: rgba(0, 0, 139, 0.375);
    backdrop-filter: blur(10px);
}
.hid1{
    display: none;
}
.hid2{
    display: none;
}
.hid3{
    display: none;
}
.hid1:hover,
.hid2:hover,
.hid3:hover{
    background-color: rgba(71, 71, 234, 0.375);
}
.side-bar h3{
    margin: 10px;
    color: #2d2d2d;
}
.container .message-box{
    margin-left: 20px;
}
.container .message{
    font-size: 3em;
    font-weight: 900;
    color: transparent;
    -webkit-text-stroke: 1px white;
}
.container .activity{
    height: 50px;
    width: 100px;
    border-radius: 30px;
    border: none;
    background-color: rgb(99, 46, 179);
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
    cursor: pointer;
}
.container .activity:hover{
    border: 2px solid white;
}
@media (max-width: 800px){
    .container .message{
        font-size: 20px;
        font-weight: 300;
        color: white;
        line-height: 30px;
    }
    .container .activity{
        height: 40px;
        width: 100px;
    }
}